.my-form{  
  width: 60%!important;
  height: 500px!important;
}

.my-container{
  background-color: rgba(229, 229, 229, 0.5)!important;
  width: 100%!important;    
}

.inner-form {
  width:30%! important;
  height: 450px!important;
}

.input-field {
  height: 50px;
  padding: 10px;
} 

.btn{
  height: 50px;
  width: auto;
  margin-top: 5px;
}